

<ion-content [fullscreen]="true">
 
  <div class="main-content">
    <div class="header">
      <div class="left">
        <div class="icon-container">
          <i class="bi bi-arrow-left-short"></i>
        </div>
      </div>

      <div class="right">

        <div class="icon-container ">
          <i class="bi bi-heart-fill cora"></i>

        </div>

        
        <div class="icon-container">
          <i class="bi bi-three-dots-vertical"></i>

        </div>
      </div>


    </div>

    <div class="body">

      <div class="card">
          <div class="img-container">
            <img src="{{product.img}}" alt="">
          </div>

          <div class="product-container">
            <span class="name">{{ product.title }}</span>
            <span>$250.00</span>
          </div>

          <div class="line"></div>

          <div class="icons-container">
            <div class="h-container">
              <i class="bi bi-star-fill yel"></i>
              <span>5/5 (10 reviews)</span>
            </div>

            <div class="h-container">
              <i class="bi bi-fire red"></i>
              <span>1000 Cal.</span>

            </div>

            <div class="h-container">
              <i class="bi bi-alarm blue"></i>
              <span>15 min.</span>
            </div>



          </div>

          <div class="descrip-container">
            <p class="descrip">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, felis vel egestas placerat, risus purus tristique odio, nec suscipit lacus turpis vel risus. Nulla facilisi. Ut auctor tempor ante, nec aliquet sapien malesuada a. Sed auctor erat vitae orci gravida, sit amet tristique nulla mollis.
            </p>

          
          </div>

      </div>

      <div class="end">
        <button class="end-btn">Comprar</button>
      </div>
    </div>
      
  </div>
</ion-content>

