
    <app-headers [cart]="list_cart" class="m-0 p-0 col-12"></app-headers>
    <div class="main-container  m-0">
        <span class="text-order fw-bold text-muted">Orden #100</span>
        <span class="brand-name">Paquetes</span>
      <div class="cards-pqt">
        <ion-content>
          <ion-slides pager="true" [options]="slideOpts">
            <ion-slide *ngFor="let item of list_paquetes; let i = index">
              <ion-card (click)="toggleInfo(i)" class="custom-card">
                <ion-card-content class="p-0 m-0">
                  <div class="image-container">
                    <img src="{{item.image}}" class="img-paquetes" alt="Paquete" [ngClass]="{'blurred': item.showInfo}">
                  </div>
                  <div *ngIf="item.showInfo" class="info-container">
                    <h2 class="info-title">{{ item.title }}</h2>
                    <p class="info-text">{{ item.text }}</p>
                    <p class="info-price">{{ item.price | currency: 'USD' }}</p>
                    <button class="btn btn-primary">
                      <i class="bi bi-plus-circle-fill me-2"></i> Agregar
                    </button>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-content>
      </div>
      <div class="top-container">
          <div class="top" *ngFor="let top of list_top" (click)="goToProduct(top)">
            <div class="img-container">
              <img src="{{top.img}}" alt="">
            </div>
              <span class="text-top">{{ top.title }}</span>
          </div>
      </div>

      <button (click)="goInventary()">inventario</button>

        <div class="message-container" *ngIf="showNoti">
          <span>Paquete # agregado!</span>
        </div>
    </div>

