<ion-content>
    <app-headers class="m-0 p-0 col-12"></app-headers>
    <div class="main-container  m-0">
        <span class="text-order">Orden #100</span>

        <span>Paquetes</span>

        <div class="contenedor">
          <div class="paquete" *ngFor="let item of list_paquetes"
            (click)="addPaquete(item)">
            <span>{{item.title}}</span>
            <span>{{item.text}}</span>
            <span>{{item.price}}</span>

          </div>




        </div>

        <div class="top-container">
          <div class="top" *ngFor="let top of list_top" (click)="goToProduct(top)">
            <img src="{{top.img}}" alt="">
              <span>{{ top.title }}</span>
          </div>
        </div>

  <!----NOTIFICACION-->
        <div class="message-container" *ngIf="showNoti">
          <span>Paquete # agregado!</span>
        </div>

    </div>
  <app-footer class="m-0 p-0"></app-footer>
</ion-content>
