
.main-container{
  width:100vw;
  height:70vh;
  padding: 1rem;
  background-color: white;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  .text-order{
    align-self: flex-end;
  }
    .d-flex {
      display: flex;
      overflow-x: auto;
      flex-wrap: no-wrap;
      padding-bottom: 10px;
      padding: 1rem;
      gap: 1rem;
      background-color: beige;

      .carta{
        background-color: rgb(255, 255, 255);
        width: 500px;
        padding: .7rem;
        border-radius: 16px;
        display: flex;
        flex-direction: column;

        .card-title{
          white-space: nowrap;
        }

        .card-text{
          white-space: nowrap;

        }
      }


    }


    .contenedor{
      //background-color: rgb(182, 249, 249);
      padding: 1.5rem 1rem;
      display: flex;
      flex-wrap: nowrap;
      width:100%;
      display: -webkit-inline-box;
      overflow-x: auto;
      gap: 1.5rem;

      .paquete{
        width:80%;
        background-color: rgb(255, 255, 255);
        //padding: 1.1rem 1.2rem;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.308);
        display: flex;
        overflow: hidden;
        flex-direction: column;
        border-radius: 16px;

        .h-container{
          display: flex;
          width:100%;
          background-color: aquamarine;
          position: relative;

          .left{
            width:100%;
            flex-direction: column;
            display: flex;
            padding: .5rem;
            //background-color: rgba(0, 0, 0, 0.29);
            position: absolute;
          }

          .right{
            width:100%;
            padding: .5rem;
            background-color: primary;

            img{
              transform: translateX(50%);
            }
          }
        }

        &:hover{
            cursor: pointer;
            background-color: gainsboro;
        }

      }
    }

    .top-container{
      width:100%;
      background-color: gray;
      padding: 1rem;
      gap: 1.5rem;
      display: -webkit-inline-box;
      overflow-x: auto;

      .top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: .6rem;
        width:40% ;
        background-color: white;
        border-radius: 16px;
      }
    }

    .message-container{
      width:90%;
      align-self: center;
      border-radius: 16px;
      background-color: rgb(242, 134, 134);
      height:10%;
      padding: 1rem;
    }



}


