.header{
    background-color: blue;
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;

    .left{
       // background-color: red;
        padding: .5rem;
        width:50%;
        height:10%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: .5rem;

        span{
            color: white;
        }


        .img-container{
            width: 45px;
            height: 45px;
            background-color: beige;
            border-radius: 50%;
        }
    }

    .right{
        //background-color: green;
        padding: .5rem;
        padding: .5rem;
        width:50%;
        height:10%;
        display: flex;
        justify-content: flex-end;

        .icon-container{
                display: flex;
                justify-content:flex-end ;
                padding-right: .5rem;
                align-items: center;
                //background-color: gray;
            i{
                color: white;
                font-size: 25px;
            }
        }
    }
}