<div class="header p-0 m-0 col-12 row curved-background "  >
    <div class="d-flex  justify-content-start align-items-center col-6 m-0 ">

    </div>
    <div class="col-6 m-0 d-flex justify-content-end" >
      <div class="centrado-total">
        <div class="icon-cart centrado-total position-relative bg-transparent" (click)="showcart()">
          <img src="assets/icon/pedido.png" alt="icon-cart">
          <ion-badge color="danger" class="bg-danger text-white badge icon-badge">118k</ion-badge>
          <div class="img mt-2" >
            <img src="assets/icon/entrega.png" alt="profile">
          </div>
        </div>
      </div>
    </div>
</div>
