.header{
    background: linear-gradient(135deg, var(--secondary-color), var(--primary-color)) !important;
    width:100vw;
    height: 15vh;
    .left{
        padding: .5rem;
        width:50%;
        height:100%;
       background: red;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: .5rem;
        span{
            color: white;
        }
        .img-container{
            width: 45px;
            height: 45px;
            background-color: beige;
            border-radius: 50%;
        }
    }

    .right{
        padding: .5rem;
        width:50%;
        height:10%;
        display: flex;
        justify-content: flex-end;
        .icon-container{
                display: flex;
                justify-content:flex-end ;
                padding-right: .5rem;
                align-items: center;
            i{
                color: white;
                font-size: 25px;
            }
        }
    }
}
.icon-container {
  position: relative;
  display: inline-block;
}

ion-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 12px;
  padding: 4px 6px;
}
