ion-toolbar{
  --color: white;
  --background:#b4141c;

}
.center-tab {
  --background: #ff7f3f;
  height: 70px;
  width: 150px;
  background-color: transparent;
  border-radius: 10px;
  position: relative;
  &::after {
    content: "";
    background-image: url("https://makopizza.com/img/logo_256.png");
    background-size: 100% 100%;
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}




.center-tab i {
  font-size: 30px;
  color: white;
}

ion-tab-bar {
  --background: transparent;
    height: 100px;
    border: 0;
    padding: 0;
}

ion-tab-button {
    height: 60%;
  margin-top: 30px;
}

ion-tab-button i {
  font-size: 16px;
  color: #555;
}
.custom-shape-divider-top-1732772463 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1732772463 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 192px;
}

.custom-shape-divider-top-1732772463 .shape-fill {
  fill: #FFFFFF;
}
