<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>Pizzería</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab tab="home">
      <app-home></app-home>
    </ion-tab>

    <ion-tab tab="about">
      <!--<app-about></app-about>-->
    </ion-tab>

    <ion-tab tab="contact">
      <!--<app-contact></app-contact>-->
    </ion-tab>

    <ion-tab tab="profile">
     <!-- <app-profile></app-profile>-->
    </ion-tab>

    <ion-tab-bar slot="bottom" >
      <ion-tab-button tab="home" >
        <i class="bi bi-house-fill"></i>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <i class="bi bi-cart4"></i>
        <ion-label>Carrito</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="add" class="center-tab ">
      </ion-tab-button>

      <ion-tab-button tab="contact">
        <i class="bi bi-clipboard-check-fill"></i>
        <ion-label>Inventario</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <i class="bi bi-person-circle"></i>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>


  </ion-tabs>
</ion-content>
