.redondo{
  min-height: 10vh;
  min-width: 100vw;
  position: absolute;
  opacity: .8;
  clip-path: ellipse(55% 98% at 50% 100%);
  top:90vh;
  &::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background: linear-gradient(to right,
        var(--pizza-red) 35%,
        var(--pizza-green) 35% 65%,
        var(--pizza-yellow) 65% 100%
      );

  }
}
