

<ion-content [fullscreen]="true">

  <div class="main-content">

    <div class="header">
     <span class="title">
      Carrito
     </span>  
    </div>

    <div class="body">
      <div class="list-container">
        <div class="item" *ngFor="let item of list_cart">
          <div class="top">
            <div class="img-container">
              <img src="{{item.image}}" alt="" class="timage">
    
            </div>
            <div class="name-price">
              <span class="name">
                {{item.name}}
              </span>
              <span class="cantidad">
                ${{item.price}}.00
              </span>
            </div>
           
          </div>
  
          <div class="bottom">
            <i class="bi bi-trash delete"></i>
            <div class="buttons">
                <button (click)="removeItem(item)" class="minus">-</button>
                <span>{{item.cuantity}}</span>
                <button (click)="addItem(item)" class="add">+</button>
            </div>
          </div>
        
        </div>
      </div>
  
    </div>

  
    <div class="footer">
      
    <div class="payment-details">
      <div class="h-container">
        <span>Subtotal:</span>
        <span>{{subTotal}}</span>
      </div>

      <div class="h-container">
        <span>Envio:</span>
        <span>{{ envio }}</span>
      </div>

      <div class="line"></div>

      <div class="h-container-t">
        <span>Total:</span>
        <span>{{ total }}</span>
      </div>

      <button class="btn-send">Continuar</button>
     
    </div>

    
    </div>   


    

  </div>




</ion-content>
